<launch>

  <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl" />

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>

  <!-- launch the gazebo simulator and spawn the robot -->
  <include file="$(dirname)/gazebo.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
  </include>
  
  <!-- ROS NODE TF -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pb"/>
  <node pkg="tf" type="static_transform_publisher" name="camera_joint_publisher" args="0 -0.05 0.05 0 0 0 tool0 camera_depth_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="camera_absolutePos_publisher" args="0 0 0 0 0 0 world base_link 100" />
  
  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="false" />
    <arg name="moveit_controller_manager" value="ros_control" />
  </include>
</launch>
