<?xml version='1.0' encoding='utf-8'?>
<!-- hc10.gazebo.xacro -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="hc10_gazebo" params="prefix">
        <xacro:macro name="hc10_arm_gazebo" params="link">
            <gazebo reference="${link}">
                <material>Gazebo/White</material>
                <mu1>0.2</mu1>
                <mu2>0.2</mu2>
            </gazebo>
            </xacro:macro>
            <xacro:macro name="hand_gazebo" params="link">
            <gazebo reference="${link}">
                <material>Gazebo/Grey</material>
                <mu1>0.2</mu1>
                <mu2>0.2</mu2>
            </gazebo>
        </xacro:macro>
        <xacro:hc10_arm_gazebo link="${prefix}base_link"/>
        <xacro:hc10_arm_gazebo link="${prefix}link_1_s"/>
        <xacro:hc10_arm_gazebo link="${prefix}link_2_l"/>
        <xacro:hc10_arm_gazebo link="${prefix}link_3_u"/>
        <xacro:hc10_arm_gazebo link="${prefix}link_4_r"/>
        <xacro:hc10_arm_gazebo link="${prefix}link_5_b"/>
        <xacro:hc10_arm_gazebo link="${prefix}link_6_t"/>
        <xacro:hc10_arm_gazebo link="${prefix}tool0"/>
    </xacro:macro>
</robot>
